/* global */
:root{
    --colour-white: #ffffff;
    --colour-beige: #DFC7C1;
    --colour-pink: #F4DCD6;
    --colour-lightblue: #B2D9EA;
    --colour-blue: #82B4C8;
    --colour-deepgreen: #619196;

    --font-large: 70px;
    --font-regular: 28px;
    --font-quote: 24px;
    --font-small: 18px;

    /*font-family: 'Anton', sans-serif;
    font-family: 'Slabo 27px', serif;*/
}


body{
    background: url('img/background.jpg') no-repeat center fixed;
    margin: 0;

}

#quote{
    color: white;
    font-size: var(--font-quote);
    text-align: center;
    vertical-align: bottom;
    font-family: 'Slabo 27px', serif;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 28px;
}

#main_weather{
    font-size: var(--font-regular);
    font-family: 'Slabo 27px', serif;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    margin: 28px 20px;
}

#temperature, #humidity{
    font-size: var(--font-small);
}

#productivity{
    position: sticky;
    width: 20%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}



#productivity_todo{
    position: absolute;
    top: 0;
    width: 100%;
    font-size: var(--font-regular);
    font-family: 'Slabo 27px', serif;
    color: white;
    margin: 0;
    padding: 28px;
    box-sizing: border-box;
    min-height: 60vh;
}

.todo-title{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    font-family: 'anton', sans-serif;
}

.todo-form{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 7px;
}

.todoInput{
    padding: 7px;
    border: none;
    background: white;
}

.todo_btn{
    padding: 7px;
    background: white;
    color: #619196;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    font-family: 'Slabo 27px', serif;
    border: none;
}

.todo_btn:hover{
    background: #619196;
    color: white;
}

.todoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.todoList{
    list-style: none;
    margin: 2px;
    padding: 0;
    width: 250px;
    height: 25px;
}

.todo-item{
    background: white;
    padding: 1px 10px;
    font-size: var(--font-small);
    color: #619196;
    margin: 3px;
}

.todo{
    color: #619196;
    display: flex;
    align-items: center;
    transition: all 0.7s ease;

}

.todo li{
    flex: 1;
    font-size: var(--font-small);
    font-family: 'Slabo 27px', serif;
}

.complete-btn{
    background: #619196;
    color: white;
    border: none;
    padding: 4px;
    margin: 2px;
    z-index: +1;
    cursor: pointer;
    font-family: 'Slabo 27px', serif;

}

.trash-btn{
    background: #DFC7C1;
    color: white;
    padding: 4px;
    border: none;
    margin: 2px;
    z-index: +1;
    cursor: pointer;
    font-family: 'Slabo 27px', serif;

}

.completed{
    opacity: 0.45;
}

#productivity_pomodoro{
    position: absolute;
    top: 60%;
    width: 100%;
    font-size: var(--font-regular);
    color: white;
    justify-content: center;
    display: flex;
    height: 40vh;
    padding: 28px;
    font-family: 'Slabo 27px', serif;
    box-sizing: border-box

}

#pomodoro-title{
    font-family: 'anton', sans-serif;
    margin: 0;
    height: 50px;

}

.timer-start{
    border: none;
    color: #619196;
    background-color: white;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;

}
.timer-start:hover{
    background-color: #619196;
    color: white;
}

.pomo-timer{
    position: absolute;
    top: 70px;
    width: 100%;
    text-align: center;
    margin: 0;
}

.flag-section{
    position: absolute;
    top: 70px;
    padding: 28px;
    width: 100%;
    box-sizing: border-box;
    display: list-item;
    list-style: none;

}

.complete-flag{
    display: inline-block;
    transition: all 1s ease;
}

i{
    font-size: 36px;
    padding: 5px;
    opacity: 75%;

}

#main{
    text-align: center;
    vertical-align: middle;
}
.svg{
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    opacity: 0.65;
    transition: all 1s ease;
}

.title{
    font-size: var(--font-large);
    color: white;
    font-family: 'anton', sans-serif ;
    position: absolute;
    top: 50%;
    width: 100%;
    opacity: 90%;
    margin: 0;
    transform: translateY(-50%)
}
#getToday{
    font-size: var(--font-regular);
    font-family: 'Slabo 27px', serif;
    color: white;
    position: absolute;
    top: 60%;
    width: 100%;
    margin: 0;
}


