/* global */
:root{
    --colour-white: #ffffff;
    --colour-beige: #DFC7C1;
    --colour-pink: #F4DCD6;
    --colour-lightblue: #B2D9EA;
    --colour-blue: #82B4C8;
    --colour-deepgreen: #619196;

    --font-large: 70px;
    --font-regular: 28px;
    --font-quote: 24px;
    --font-small: 13px

    /*font-family: 'Anton', sans-serif;
    font-family: 'Slabo 27px', serif;*/
}

html {
    background: url('img/background.jpg') no-repeat center fixed;
    background-size: 100vh, 100vm
}
body{
    margin: 0;
}

#productivity{
    position: sticky;
    width: 20%;

}
.box{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    opacity: 40%;
}
#productivity_todo{
    position: absolute;
    top: 0;
    width: 100%;
    font-size: var(--font-regular);
    font-family: 'Slabo 27px', serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}


.todo-title{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 5px;
    margin-top: 28px;
}

.todo-form{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
}
.todoInput{
    padding: 5px;
    border: none;
    background: white;
}
.todo_btn{
    padding: 5px;
    background: white;
    color: #619196;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    font-family: 'Slabo 27px', serif;
    border: none;
}
.todo_btn:hover{
    background: #619196;
    color: white;
}

.todoContainer{
    display: flex;
    justify-content: center;
    align-items: center;


}
ul.todoList{
    list-style: none;
    margin: 2px;
    padding: 0;
    width: 200px;
    height: 20px;


}
.todo-item{
    background: white;
    padding: 1px 10px;
    font-size: var(--font-small);
    color: #619196;
}
.todo{
    color: #619196;
    display: flex;
    align-items: center;
    transition: all 0.7s ease;

}

.todo li{
    flex: 1;
}

.complete-btn{
    background: #619196;
    color: white;
    border: none;
    padding: 4px;
    margin: 2px;
    z-index: +1;
    cursor: pointer;

}
.trash-btn{
    background: #DFC7C1;
    color: white;
    padding: 4px;
    border: none;
    margin: 2px;
    z-index: +1;
    cursor: pointer;

}

.completed{
    opacity: 0.5;
}

#productivity_pomodoro{
    position: absolute;
    top: 45%;
    width: 100%;
    font-size: var(--font-regular);
    font-family: 'Slabo 27px', serif;
    color: white;
    text-align: center;
}


.title{
    font-size: var(--font-large);
    color: white;
    text-align: center;
    font-family: 'anton', sans-serif ;
    position: absolute;
    top: 35%;
    width: 100%;
    opacity: 80%;
    margin: 0;
}
#getToday{
    font-size: var(--font-regular);
    font-family: 'Slabo 27px', serif;
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin: 0;
}
#quote{
    color: white;
    font-size: var(--font-quote);
    text-align: center;
    vertical-align: bottom;
    font-family: 'Slabo 27px', serif;
    position: fixed;
    top: 0;
    width: 100%;
}
#main_weather{
    font-size: var(--font-regular);
    font-family: 'Slabo 27px', serif;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    margin: 28px 20px;
}
#pomodoro-title{
    margin-top: 5px;
    margin-bottom: 5px;

}
